@use '@sass_settings/sizes.scss';

.grid {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: var(--size-spacing-3);
  }

  &__section {
    display: flex;
    flex-direction: column;
  }
}
