@use '@sass_settings/sizes.scss';

:root {
  --section-width: 90%;
  --color-dark-1: #222222;
  --color-dark-2: #444444;
  --color-dark-3: #666666;
  --color-light-1: #ffff;
  --color-light-2: rgb(222, 222, 222);
  --size-spacing-1: 0.8rem;
  --size-spacing-2: 1rem;
  --size-spacing-3: 1.5rem;
  --size-spacing-4: 2rem;

  @media (min-width: sizes.$tablet) {
    --section-width: 75%;
    --size-spacing-1: 1rem;
    --size-spacing-2: 1.5rem;
    --size-spacing-3: 2rem;
    --size-spacing-4: 2.25rem;
  }

  @media (min-width: sizes.$desktop) {
    --section-width: 80%;
    --size-spacing-1: 1rem;
    --size-spacing-2: 1.5rem;
    --size-spacing-3: 2rem;
    --size-spacing-4: 2.25rem;
  }
}
