@use '@sass_settings/sizes.scss';

.container {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  gap: 0.2rem;
  border: 1px solid #bdbdbd;
  padding: var(--size-spacing-1) var(--size-spacing-3);
  border-radius: 0.8rem;
  min-width: fit-content;

  &__button {
    display: flex;
    align-self: flex-start;
    border: none;
    background-color: lightgray;
    padding: 0.4rem 0.7rem;
    border-radius: 0.4rem;
    opacity: 1;
    transition: opacity 0.6s;

    @media (hover: hover) {
      &:hover {
        filter: brightness(0.9);
      }

      &:active {
        filter: brightness(0.8);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 0.1rem;
  }
}

.text {
  font-size: 1.2rem;
  font-weight: 600;
}

.line {
  white-space: nowrap;
  &__value {
    display: inline-block;
    background-color: var(--color);
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    margin-right: 0.1rem;
    text-shadow: -1px -1px 3px white, 1px -1px 3px white, -1px 1px 3px white, 1px 1px 3px white;
  }
  &__button {
    background: none;
    border: none;
    opacity: 0.2;
    user-select: none;
    margin-left: 3px;
    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (min-width: sizes.$tablet) {
  .container {
    width: 70%;
  }
}
