.navbar {
  background-color: var(--color-dark-1);
  color: var(--color-light-2);
  padding: var(--size-spacing-2) 0;
  display: flex;
  justify-content: center;

  &__container {
    width: var(--section-width);
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  height: 2.5rem;
  width: auto;
}
