@use '@sass_settings/sizes.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell {
  --color-light: white;
  --transition-duration: 0.4s;
  background-color: var(--content);
  border: 1px solid lightgrey;
  border-radius: 0.8rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '📝';
    opacity: 0;
    transition: opacity var(--transition-duration);
  }

  @media (hover: hover) {
    &:hover {
      &:before {
        content: '📝';
        opacity: 1;
        transition: opacity var(--transition-duration);
      }
    }
  }

  &--copied {
    &:before {
      content: '✅';
      opacity: 1;
      animation: unbanish var(--transition-duration) calc(var(--delay) - var(--transition-duration));
    }
    // If we want  to "overwrite" the non-modified class hover, we need to create a new one
    &:hover {
      &:before {
        content: '✅';
        opacity: 1;
      }
    }
  }
}

.text {
  font-size: 1rem;
  color: var(--color-dark-3);
}

@keyframes unbanish {
  to {
    opacity: 0;
  }
}
