@use '@sass_settings/sizes.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell {
  --color-light: white;
  --transition-duration: 0.4s;
  background-color: var(--content);
  border: 1px solid lightgrey;
  border-radius: 0.8rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    opacity: 0;
    transition: opacity var(--transition-duration);
  }

  &:before {
    content: '📝';
  }

  &:after {
    content: '✅';
  }

  @media (hover: hover) {
    &:hover:before {
      opacity: 1;
      transition: opacity var(--transition-duration);
    }
  }

  &--copied {
    &:before {
      content: none;
    }

    &:after {
      animation: unvanish var(--delay);
    }
  }
}

.text {
  font-size: 1rem;
  color: var(--color-dark-3);
}

@keyframes unvanish {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
