@use '@sass_settings/sizes.scss';

.footer {
  color: var(--color-light-2);
  background-color: var(--color-dark-1);
  display: flex;
  user-select: none;
  justify-content: center;
  padding: var(--size-spacing-2) 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--section-width);
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.2rem;

    &__link {
      text-decoration: underline;
    }
  }
}

.logo {
  height: 3rem;
  width: auto;
}
