.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-spacing-3);
}

.form-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--size-spacing-1);

  &__input-group {
    display: flex;
    gap: var(--size-spacing-1);
  }

  &__input {
    text-indent: 0.2rem;
    padding: 0.2rem;

    &--color {
      width: 9ch;
    }
    &--number {
      width: 3.5rem;
    }
  }
}

.elegant-switch {
  padding-top: 0.3rem;
  padding-bottom: 1rem;
}

.color-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-spacing-1);
}

.text {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-dark-2);

  em {
    color: var(--picked-color);
    font-style: normal;
  }
}
